# SETS

1. A set is an unordered collection ((3,2,1)<==== the answer will be random some time appear 2,3,1 and sometime 1,2,3)
2. Unique and no duplicate allowed in set.
3. Must be immutable (cannot be changed) like a tuble 
4. A set itself mutable (we can add and remove items from it)
5. Representation of set is in curly brackets {} or using set() function.

In [ ]:
S=()
s={} # empty bracket is also called a dictionary
p=set() # this set is empty
p1={1,2,3} # this is set with 3 elements because elements present in it
print(type(S))
print(type(s))
print(type(p))
print(type(p1))

<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'set'>

In [ ]:
s={5,6,3,2,2} # jis sequece ma elements ko declear karaingay us order ma nea milaygain or no duplicate values 
print(s)

{2, 3, 5, 6}

In [ ]:
s={2,5,1,3}
print(s)
# s={2,5,1,3,{1,2,34,4}} # means mutable type is not allowed in set the think is that set is mutable type due to which not allowed 
# print(s)
# slist={2,3,4,5,6,7,[1,2,3,4,5]} # in this we pass list in set but list is mutable type is not allowed in set the think is that set is mutable type due to which not allowed
# print(slist)
s1={2,4,5,8,1,(1,2,6,3)} # in this we pass tuple in set and tuple is immutable type is allowed in set
print(s1)

{1, 2, 3, 5}
{1, 2, 4, 5, 8, (1, 2, 6, 3)}

In [ ]:
s={'samad',12.4,False,0}  # is this case 0 and false equal 1 and true are equal and it pass only a one time in set becasue no duplicate allowed in this data type
print(s)
s={'samad',12.4,False,0,True,1,1} # no duplicate allowed in this data type
print(s)

{'samad', False, 12.4}
{'samad', False, 12.4, True}

In [ ]:
fruits=['apple','mango'] #this is convert into set caled type casting 
fruits=set(['apple','mango']) # here type casting is done list converted into set just rewrite set()
print(fruits)
print(type(fruits))

{'mango', 'apple'}
<class 'set'>

In [7]:
s1={1,2,3,4}
s2={3,2,1,4}
s1==s2

True

In [8]:
s1={1,3,5,7,6}
s2={2,4,6,7,8}
s1==s2

False

In [11]:
# #acessing 
# print(s1[0])

TypeError: 'set' object is not subscriptable

In [13]:
s={1,2,3,4}
s.add(5)
print(s)

{1, 2, 3, 4, 5}

In [30]:
s.add(6)
# print(s)
s.update([2,3,4,5,6,10])
print(s)

{1, 2, 3, 4, 5, 6, 10, 13}

In [35]:
s.update(['imran khan'])
print(s)

{2, 3, 5, 6, 'r', 'n', 'h', 10, 'm', 'a', 13, 'k', 'imran khan', 'i', ' '}

In [33]:
s.pop()

1

In [34]:
s.remove(4)

In [36]:
print(s)

{2, 3, 5, 6, 'r', 'n', 'h', 10, 'm', 'a', 13, 'k', 'imran khan', 'i', ' '}

In [37]:
#opeartion in set 
#union
s3={2,3,4,5,6}
s4={3,4,5,10,12,13}
s3.union(s4)

{2, 3, 4, 5, 6, 10, 12, 13}

In [38]:
# intersection (&)
print(s3&s4)

{3, 4, 5}

In [40]:
#Difference
print(s3-s4)
print(s4-s3)

{2, 6}
{10, 12, 13}

In [42]:
#symmetric Diffrence (^)
print (s3^s4)
print(s4^s3)

{2, 6, 10, 12, 13}
{2, 6, 10, 12, 13}

In [44]:
s3.discard(4)
print(s3)

{2, 3, 5, 6}

In [50]:
print(sorted(s3,reverse=True))
print(len(s3))
print(sum(s3))
print(min(s3))
print(max(s3))

[6, 5, 3, 2]
4
16
2
6

In [ ]:
# frozen set