# Loops concepts 
1. Loops are used to repeat instructions
2. There are two loops
   1. while loop 
   2. for loop

In [1]:
count=1  # This is called iterators
while count<=5:
    print('Hello')   # this is called iteration 
    count+=1
print(count)

Hello
Hello
Hello
Hello
Hello
6

In [2]:
count=1
while count <= 10:
    print('Hello world',count)
    count+=1

Hello world 1
Hello world 2
Hello world 3
Hello world 4
Hello world 5
Hello world 6
Hello world 7
Hello world 8
Hello world 9
Hello world 10

# Print 1 to 5 numers

In [3]:
i=1
while i<=5:
    print(i)
    i+=1

1
2
3
4
5

In [4]:
i=5
while i>=1:
    print(i)
    i-=1
print('loop ended ')

5
4
3
2
1
loop ended

# Print number from 1 to 100

In [5]:
i=1
while i<=100:
    print(i)
    i+=1
print('Loop ended')

1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
Loop ended

# print the numbers from 100 to 1

In [6]:
i=100
while i>=1:
    print(i)
    i-=1
print('Loop ended')

100
99
98
97
96
95
94
93
92
91
90
89
88
87
86
85
84
83
82
81
80
79
78
77
76
75
74
73
72
71
70
69
68
67
66
65
64
63
62
61
60
59
58
57
56
55
54
53
52
51
50
49
48
47
46
45
44
43
42
41
40
39
38
37
36
35
34
33
32
31
30
29
28
27
26
25
24
23
22
21
20
19
18
17
16
15
14
13
12
11
10
9
8
7
6
5
4
3
2
1
Loop ended

# Print a multiplication table of a number n

In [7]:
n=int(input('Enter any number here:'))
i=1
while i<=10:
    print(n,'x',i,'=',n*i)
    i+=1

78 x 1 = 78
78 x 2 = 156
78 x 3 = 234
78 x 4 = 312
78 x 5 = 390
78 x 6 = 468
78 x 7 = 546
78 x 8 = 624
78 x 9 = 702
78 x 10 = 780

# Print this list [1,4,9,16,25,36,49,64,81,100]

In [8]:
num=[1,4,9,16,25,36,49,64,81,100]
idx=0
while idx < len(num):
    print(num[idx])
    idx+=1

1
4
9
16
25
36
49
64
81
100

# Print Name['abdullah','samad','fahad']

In [9]:
# Traverse
name=['abdullah','samad','fahad']
idx=0
while idx<len(name):
    print(name[idx])
    idx+=1

abdullah
samad
fahad

# Search for a number X in this tuple (1,4,9,16,25,36,49,64,81,100)

In [10]:
num=(1,4,9,16,25,36,49,64,81,100,36)
x=36
idex=0
while idex<len(num):
    if num[idex]==x:
     print('found the X number at this index',idex,'the number is',num[idex])
    else:
       print('finding....')
    idex+=1

finding....
finding....
finding....
finding....
finding....
found the X number at this index 5 the number is 36
finding....
finding....
finding....
finding....
found the X number at this index 10 the number is 36

# Break 
1. Used to terminate the loop when encountered
# Continue Statements
1. Terminate execution in the current iteration and continue with the next iteration

In [11]:
i=1
while i<=5:

    print('The Value is:', i)
    
    if i==3:
        break

    i+=1

    print('Ended loop')

The Value is: 1
Ended loop
The Value is: 2
Ended loop
The Value is: 3

In [12]:
i=1
while i<=5:
    print('Before Loop the value of i is:', i)
    if (i==3):
        i+=1
        continue  # skip
    print('after continue',i)
    i+=1
print('Ended Loop')

Before Loop the value of i is: 1
after continue 1
Before Loop the value of i is: 2
after continue 2
Before Loop the value of i is: 3
Before Loop the value of i is: 4
after continue 4
Before Loop the value of i is: 5
after continue 5
Ended Loop

# Print Odd numbers and i want to skip even numbers

In [13]:
i=1
while i<=10:
    # print(i)
    if i%2==0:
        i+=1
        # print('Given number is even ')
        continue
    print(i)
    i+=1

1
3
5
7
9

In [14]:
nums=[1,4,9,16,25,36,49,64,81,100]
for el in nums:
    print(el)

1
4
9
16
25
36
49
64
81
100

In [16]:
numms=(1,4,9,16,25,36,49,64,81,100)
x=36
for el in numms:
    if el==x:
        print('Found x',el) 
    else:
        print('Not found x')
    # print(el)

Not found x
Not found x
Not found x
Not found x
Not found x
Found x 36
Not found x
Not found x
Not found x
Not found x

In [21]:
i=1
while i<6:
    print(i)
    i+=1
# print(i)

1
2
3
4
5