create a fruits list

In [26]:
My_favourite_fruit_list=['mangoes','banana','graphs','apple']
Not_favourite_fruit_list=['kiwi','Pomegranate','oranges','avocados']
occasionally_fruit_list=['papaya','dragonfruit','watermelon']
My_favourite_fruit_list.append(Not_favourite_fruit_list)
print(My_favourite_fruit_list)

['mangoes', 'banana', 'graphs', 'apple', ['kiwi', 'Pomegranate', 'oranges', 'avocados']]

In [27]:
My_favourite_fruit_list.insert(0,occasionally_fruit_list)
print(My_favourite_fruit_list)

[['papaya', 'dragonfruit', 'watermelon'], 'mangoes', 'banana', 'graphs', 'apple', ['kiwi', 'Pomegranate', 'oranges', 'avocados']]

In [24]:
#Membership operators
'apple'in My_favourite_fruit_list

True

In [28]:
'avocados' not in occasionally_fruit_list

True

In [ ]:
#Mutable is changable
# imputable unchnagable

In [31]:
numbers=(1,2,3,4,5)
print('the data type of the numbers is tuple',numbers)
print(type(numbers))

the data type of the numbers is tuple (1, 2, 3, 4, 5)
<class 'tuple'>

In [32]:
numbers[0] # in this no sense occuring because its a tuple only 2 functions will work

1

In [33]:
numbers.pop()

AttributeError: 'tuple' object has no attribute 'pop'

In [34]:
numbers.insert()

AttributeError: 'tuple' object has no attribute 'insert'

In [36]:
numbers.count(2)

1

In [37]:
My_favourite_fruit_list=('mangoes','banana','graphs','apple')
Not_favourite_fruit_list=('kiwi','Pomegranate','oranges','avocados')
occasionally_fruit_list=('papaya','dragonfruit','watermelon')
My_favourite_fruit_list.append(Not_favourite_fruit_list)
print(My_favourite_fruit_list)

AttributeError: 'tuple' object has no attribute 'append'

In [40]:
numbers=(1,2,3,4,5,6)
numbers2=[2,3,4,6,7,8]
print(numbers+[numbers2])

TypeError: can only concatenate tuple (not "list") to tuple

In [46]:
sorted(numbers2,reverse=0)

[2, 3, 4, 6, 7, 8]

In [47]:
sum(numbers)

21

In [48]:
number=numbers-numbers2
print(number)

TypeError: unsupported operand type(s) for -: 'tuple' and 'list'

In [51]:
number=numbers/numbers2
print(number)

TypeError: unsupported operand type(s) for /: 'tuple' and 'list'

In [58]:
num1,num2,num3=(6,67,45)
print(num1,num2,num3)
# print(type(num1,num2,num3)) # ya ak say zaida argument nea le sukata
print(type(num2))

6 67 45
<class 'int'>

In [61]:
fruit1=('apple','mango','banana')
fruit2=('graphs','mango','apple')
print(type(fruit1))

<class 'tuple'>