# Operators system

In [1]:
# The Basic Type of operators in python :
# 1-Arithematic operators
# 2- Relationship operator

In [4]:
number1=float(input('Enter number1'))
number2=float(input('Enter number2'))
print ("the result of the given number is :",number1>number2)
print ("the result of the given number is :",number1<number2)
# print ("the result of the given number is :",number1=number2)
print ("the result of the given number is :",number1!=number2)

the result of the given number is : False
the result of the given number is : True
the result of the given number is : True

python tutor  use

<!-- use python coder  -->

In [7]:
# this is gates  
number1=True
number2=False
number2 and number1

False

In [8]:
number1=True
number2=True
number2 and number1

True

In [9]:
number1=False
number2 =True
number1 or number2

True

In [17]:
number1=bool(input('the first number is :',))
number2=bool(input('the second number is :' ,))
print (number1 and number2)
print (number1 or number2)
print('The result of two inputs gate is ',number1 != number2)

True
True
The result of two inputs gate is  False

In [18]:
a='python'
b=''        # this first priorty is blank value in AND GATE OPERATION 
a and b

''

In [19]:
a='python '
b=''
a or b # this is only returns not empty in OR GATE

'python '

# Assignment Operators

In [20]:
number =10 
number+=5
print (number)

15

# identity operators

In [24]:
a=4
b=3
a is b # this is alse a comparision bool gate

False

In [23]:
a=4
b=3
a is not b

True

In [29]:
x='abc'
y='abc'
print(id(x))
print (id(y))
print (x is y) # location and values are same so it will be true

2200716213248
2200716213248
True

In [30]:
a='today is my first class'
a='today is my first class'
print(id(a))
print (id(a))
print (a is a)

2200818159088
2200818159088
True

# MEMBERSHIP OPERATORS

In [31]:
fruit='apple'
'a' in fruit

True

In [32]:
name=['farooq','jibran','ahmed ','aliza']
'farooq' in name

True