Name :Abdul Samad 

S/0 : Salahuddin 

Email : abdulsamads3414@gmail.com

Course :Python for DS 

Course Teacher : Sir Sajid Majeed 

Batch: 9th

Date : 30/11/2024

Time :7:32pm

1. Write a Python program to print the numbers from 1 to 10 using a for loop

In [4]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

2. Create a list containing the numbers 1 to 5. Then, using a for loop, print each element of the list.

In [2]:
my_list=[1,2,3,4,5]
for i in my_list:
    print(i)

1
2
3
4
5

3. Write a program that takes a list of numbers and returns the sum of all the numbers in the list.

In [3]:
def list_sum(my_list):
    return sum(my_list)
my_list=[1,2,3,4,5]
result=list_sum(my_list)
print(result)

15

4. Given a list of strings, write a program to concatenate all the strings into one

In [3]:
string_list=['abdullah','samad','fahad','basit']
list2=['asad']
concat_string=string_list+list2
print(concat_string)

['abdullah', 'samad', 'fahad', 'basit', 'asad']

5. Write a program that takes a list of numbers and returns the largest number in the list

In [11]:
List=[1,2,3,45,6]
List.sort()
List[-1]

45

In [ ]:
# Another method to find the largest number in a list
def larger_num(number):
    return max(number)
number=[23,45,1,234,23]
v=larger_num(number)
print(v)  # Output: 234

234

6. Create a list containing the numbers 1 to 10. Using a for loop, square each number in the list and print the result.

In [29]:
original_list=[1,2,3,4,5,6,7,8,9,10]
for i in original_list:
    result=i**2
    print(result)

1
4
9
16
25
36
49
64
81
100

7. Write a program that takes a list of numbers and returns a new list containing only the even numbers from the original list.

In [36]:
original_list=[1,2,3,4,5,6,7,8,9,10]
for i in original_list:
    if i % 2 == 0:
        print(i)

2
4
6
8
10

8. Given two lists of numbers, write a program to combine the lists element-wise (i.e., element-wise addition)

In [52]:
L1 = [1, 2, 3, 4, 5]
L2 = [6, 7, 8, 9, 10]

mul = []
for i in range(len(L1)):
    mul.append(L1[i] * L2[i]) 

print(mul)

[6, 14, 24, 36, 50]

9. Write a program that takes a list of strings and returns a new list containing the lengths of each string.

In [55]:
LS=['saad','hashim','furqan']
for i in LS:
    print(i)
    print(len(i))

saad
4
hashim
6
furqan
6

10. Create a list of numbers from 1 to 10. Using list slicing and a for loop, print every second element of the list.

In [ ]:
original_list=[1,2,3,4,5,6,7,8,9,10]
for i in original_list[::2]:
    print(i)

1
3
5
7
9