# Name: Abdul Samad

# S/O :Salahuddin

# Data Science With AI

# abdulsamads3414@gmail.com

# Assignment type: 2

# Course: Python

In [168]:
# 1. Declare an empty list
Assignment_2=[]

In [169]:
# 2. Declare a list with more than 5 items
Assignment_2=['apple','mango','banana','kiwi','graphs']

In [170]:
# 3. Find the length of your list
len(Assignment_2)

5

In [171]:
# 4. Get the first item, the middle item and the last item of the list
Assignment_2[0]

'apple'

In [172]:
Assignment_2[1:4]

['mango', 'banana', 'kiwi']

In [173]:
Assignment_2[-1]

'graphs'

In [174]:
# 5. Declare a list called mixed_data_types, put your (name, age, height, marital status, address)
mixed_data_type=['Abdul Samad',28,5.4,'single','Korangi_industrail_area shah_faisal_colony']
mixed_data_type

['Abdul Samad',
 28,
 5.4,
 'single',
 'Korangi_industrail_area shah_faisal_colony']

In [175]:
# 6. Declare a list variable named IT_companies and assign initial values Facebook, Google,Microsoft, Apple, IBM, Oracle and Amazon, Print the list using print() and Print the number of companies in the list
IT_companies=['Facebook', 'Google','Microsoft', 'Apple', 'IBM', 'Oracle' 'Amazon']
print(IT_companies)
print(len(IT_companies))

['Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'OracleAmazon']
6

In [176]:
# 7. Print the first, middle and last company
IT_companies[0]

'Facebook'

In [177]:
IT_companies[1:5]

['Google', 'Microsoft', 'Apple', 'IBM']

In [178]:
IT_companies[-1]

'OracleAmazon'

In [179]:
# 8. Print the list after modifying one of the companies
IT_companies[1]='Meta'

In [180]:
# 9. Add an IT company to IT_companies
IT_companies.append('Intel')
IT_companies

['Facebook', 'Meta', 'Microsoft', 'Apple', 'IBM', 'OracleAmazon', 'Intel']

In [181]:
# 10. Insert an IT company in the middle of the companies list
middle_index=len(IT_companies)//2
IT_companies.insert(middle_index,'Tesla')
print ('List after inserting a company list ',IT_companies)

List after inserting a company list  ['Facebook', 'Meta', 'Microsoft', 'Tesla', 'Apple', 'IBM', 'OracleAmazon', 'Intel']

In [182]:
# 11. Change one of the IT_companies names to uppercase (IBM excluded!)
IT_companies[1]=IT_companies[1].upper()
print('List after changing one company name to uppercase:',IT_companies)
print(type(IT_companies))

List after changing one company name to uppercase: ['Facebook', 'META', 'Microsoft', 'Tesla', 'Apple', 'IBM', 'OracleAmazon', 'Intel']
<class 'list'>

In [183]:
# 12. Sort the list using sort () method
IT_companies.sort()
print('Sorted list',IT_companies)

Sorted list ['Apple', 'Facebook', 'IBM', 'Intel', 'META', 'Microsoft', 'OracleAmazon', 'Tesla']

In [184]:
# 13. Reverse the list in descending order using reverse() method
IT_companies.reverse()
IT_companies

['Tesla',
 'OracleAmazon',
 'Microsoft',
 'META',
 'Intel',
 'IBM',
 'Facebook',
 'Apple']

In [185]:
# 14. Slice out the first 3 companies from the list
IT_companies[0:3]

['Tesla', 'OracleAmazon', 'Microsoft']

In [186]:
# 15. Slice out the last 3 companies from the list
IT_companies[-3:]

['IBM', 'Facebook', 'Apple']

In [187]:
# 16. Slice out the middle IT company or companies from the list
middle_index=len(IT_companies)//2
print('The Middle it company is:',middle_index)
IT_companies[4]

The Middle it company is: 4

'Intel'

In [188]:
IT_companies

['Tesla',
 'OracleAmazon',
 'Microsoft',
 'META',
 'Intel',
 'IBM',
 'Facebook',
 'Apple']

In [189]:
# 17. Remove the first IT company from the list
IT_companies[0]

'Tesla'

In [190]:
IT_companies.remove('Tesla')

In [191]:
# 18. Remove the middle IT company or companies from the list
# len(IT_companies)
middle_index=len(IT_companies)//2
IT_companies[middle_index]

'Intel'

In [192]:
IT_companies.remove('Intel')

In [193]:
IT_companies

['OracleAmazon', 'Microsoft', 'META', 'IBM', 'Facebook', 'Apple']

In [194]:
# 19. Remove the last IT company from the list
IT_companies.pop()

'Apple'

In [195]:
IT_companies

['OracleAmazon', 'Microsoft', 'META', 'IBM', 'Facebook']

In [196]:
# 20. Remove all IT companies from the list
IT_companies.clear()

In [197]:
IT_companies

[]

In [198]:
# 21. Destroy the IT companies list
del IT_companies

In [199]:
# 22 and 23 Join the following lists:
front_end = ['HTML', 'CSS', 'JS', 'React', 'Redux']
back_end = ['Node','Express', 'MongoDB']

In [200]:
# 24. After joining the lists in question 26. Copy the joined list and assign it to a variable full_stack. Then insert Python and SQL after Redux.
# 25. The following is a list of 10 students ages
full_stack=front_end+back_end
full_stack

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Node', 'Express', 'MongoDB']

In [201]:
full_stack.insert(5,'Python')
full_stack

['HTML', 'CSS', 'JS', 'React', 'Redux', 'Python', 'Node', 'Express', 'MongoDB']

In [202]:
ages = [19, 22, 19, 24, 20, 25, 26, 24, 25, 24]

In [203]:
# 27. Sort the list and find the min and max age
ages.sort()

In [204]:
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26]

In [205]:
min(ages)

19

In [206]:
max(ages)

26

In [207]:
# 28. Add the min age and the max age again to the list
ages.append(19)

In [208]:
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19]

In [209]:
ages.append(26)

In [210]:
ages

[19, 19, 20, 22, 24, 24, 24, 25, 25, 26, 19, 26]

In [211]:
# 29. Find the median age (one middle item or two middle items divided by two)
import statistics
median_value = statistics.median(ages)
print("Median:", median_value)

Median: 24.0

In [212]:
# 30. Find the average age (sum of all items divided by their number)
Average_age=sum(ages)/len(ages)
print('Average age is :',Average_age)

Average age is : 22.75

In [213]:
# 31. Find the range of the ages (max minus min)
Range=max(ages)-min(ages)
print('Range of ages is ',Range)

Range of ages is  7

In [214]:
# 32. Compare the value of (min - average) and (max - average), use abs () method
min_age=min(ages)
max_age=max(ages)
min_diff = abs(min_age - Average_age)
max_diff = abs(max_age - Average_age)
print(f"Difference between min and average: {min_diff}")
print(f"Difference between max and average: {max_diff}")

Difference between min and average: 3.75
Difference between max and average: 3.25

In [215]:
# 33. Find the middle country(ies) in the countries list
countries = ['USA', 'Canada', 'Mexico', 'Brazil', 'Argentina', 'Chile', 'Peru']
middle_index=len(countries)//2
print('Middle country in the country list is :',middle_index)
countries[3]

Middle country in the country list is : 3

'Brazil'

In [216]:
# 34. Divide the countries list into two equal lists if it is even if not one more country for the first half.
countries= ['USA', 'Canada', 'Mexico', 'Brazil', 'Argentina', 'Chile', 'Peru']

# Calculate the length of the list
n = len(countries)

# If the length is even, divide the list equally
first_half = countries[:n // 2]  # First half contains the first n//2 items
second_half = countries[n // 2:]  # Second half contains the remaining items
# Print the results
print("First half:" ,first_half)
print("Second half:", second_half)

First half: ['USA', 'Canada', 'Mexico']
Second half: ['Brazil', 'Argentina', 'Chile', 'Peru']

In [217]:
# 35. ['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']. Unpack the first three countries and the rest as scandic countries.
# Unpacking first three countries
countries2=['China', 'Russia', 'USA', 'Finland', 'Sweden', 'Norway', 'Denmark']
first_three = countries2[:3]
scandic_countries=countries2[3:]
print('the first three unpack countries are :',first_three)
print('the rest of countries are :',scandic_countries)

the first three unpack countries are : ['China', 'Russia', 'USA']
the rest of countries are : ['Finland', 'Sweden', 'Norway', 'Denmark']

# Tuples

In [218]:
# 1. Create an empty tuple
samad=()
print(type(samad))

<class 'tuple'>

In [1]:
# 2. Create a tuple containing names of your sisters and your brothers (imaginary siblings are fine)
brothers=('Abdul_Samad','Fahad','Asad')
sisters=('Salma','Tahira','Seema','Saba')

In [2]:
# 3. Join brothers and sisters tuples and assign it to siblings
siblings=brothers+sisters
siblings

('Abdul_Samad', 'Fahad', 'Asad', 'Salma', 'Tahira', 'Seema', 'Saba')

In [221]:
# 4. How many siblings do you have?
len(siblings)

7

In [222]:
# 5. Modify the siblings tuple and add the name of your father and mother and assign it to family_members.
father_name='salahuddin'
mother_name ='naseem'
family_members=siblings+(father_name,mother_name)
print ('the modify the tuple is :',family_members)

the modify the tuple is : ('Abdul_Samad', 'Fahad', 'Asad', 'Salma', 'Tahira', 'Seema', 'Saba', 'salahuddin', 'naseem')

In [223]:
# 6. Unpack siblings and parents from family_members
family_members[:7]
# family_members[7:]

('Abdul_Samad', 'Fahad', 'Asad', 'Salma', 'Tahira', 'Seema', 'Saba')

In [224]:
family_members[7:]

('salahuddin', 'naseem')

In [225]:
# 7. Create fruits, vegetables and animal products tuples. Join the three tuples and assign it to a variable called food_stuff_tp.
fruits=('Mango','Banana','Apple')
vegetables = ('carrot', 'broccoli', 'spinach')
animal_products = ('milk', 'cheese', 'egg')

# Joining the tuples
food_stuff_tp = fruits + vegetables + animal_products

# Display the result
print(food_stuff_tp)

('Mango', 'Banana', 'Apple', 'carrot', 'broccoli', 'spinach', 'milk', 'cheese', 'egg')

In [226]:
# 8. Change the about food_stuff_tp tuple to a food_stuff_lt list
food_stuff_tp=list(food_stuff_tp)
print('food_stuff_tp converted into list',food_stuff_tp)

food_stuff_tp converted into list ['Mango', 'Banana', 'Apple', 'carrot', 'broccoli', 'spinach', 'milk', 'cheese', 'egg']

In [227]:
# 9. Slice out the middle item or items from the food_stuff_tp tuple or food_stuff_lt list.
middle_index=len(food_stuff_tp)//2
print('Slice out the middle items are ',middle_index)
food_stuff_tp[4]

Slice out the middle items are  4

'broccoli'

In [228]:
# 10. Slice out the first three items and the last three items from food_staff_lt list
food_stuff_tp[:3]

['Mango', 'Banana', 'Apple']

In [229]:
food_stuff_tp[-3:]

['milk', 'cheese', 'egg']

In [230]:
# 11. Delete the food_staff_tp tuple completely.
print(type(food_stuff_tp))
food_stuff_tp.clear()

<class 'list'>

# SET

In [231]:
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle',
'Amazon'}
A = {19, 22, 24, 20, 25, 26}
B = {19, 22, 20, 25, 26, 24, 28, 27}
age = [22, 19, 24, 25, 26, 24, 25, 24]

In [232]:
# 1. Find the length of the set it_companies
it_companies = {'Facebook', 'Google', 'Microsoft', 'Apple', 'IBM', 'Oracle',
'Amazon'}
len(it_companies)

7

In [233]:
# 2. Add 'Twitter' to it_companies
it_companies.add('Twitter')
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Microsoft',
 'Oracle',
 'Twitter'}

In [234]:
# 3. Insert multiple IT companies at once to the set it_companies
it_companies.update(["Tesla","Intel","Nividia"])
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'Google',
 'IBM',
 'Intel',
 'Microsoft',
 'Nividia',
 'Oracle',
 'Tesla',
 'Twitter'}

In [235]:
# 4. Remove one of the companies from the set it_companies
it_companies.pop()
it_companies

{'Amazon',
 'Apple',
 'Facebook',
 'IBM',
 'Intel',
 'Microsoft',
 'Nividia',
 'Oracle',
 'Tesla',
 'Twitter'}

# 5. What is the difference between remove and discard?
remove() raises a KeyError if the item doesnâ€™t exist, while discard() does nothing if the item is absent.

In [236]:
# 6. Join A and B

In [237]:
# 7. Find A intersection B
A.intersection(B)

{19, 20, 22, 24, 25, 26}

In [238]:
# 8. Is A subset of B
A.issubset(B)

True

In [239]:
# 9. Are A and B disjoint sets
A.isdisjoint(B)

False

In [240]:
B.isdisjoint(A)

False

NO this is not a disjoint set

In [241]:
# 10. Join A with B and B with A

In [242]:
# 11. What is the symmetric difference between A and B
Symmetric_diff=A^B
print('The symmetric Diff. between A and B is',Symmetric_diff)

The symmetric Diff. between A and B is {27, 28}

In [243]:
# 12. Delete the sets completely
del A
del B

In [248]:
# 13. Convert the ages to a set and compare the length of the list and the set, which one is bigger?
age_in_set=set(age)
age_in_set
print(type(age_in_set))

<class 'set'>

In [251]:
len(age_in_set) # because no duplicate values allowed

5

In [252]:
# list length
len(age)

8

14. Explain the difference between the following data types: string, list, tuple and set

1. String (str)

Definition: A string is a sequence of characters enclosed in either single quotes (') or double quotes (").

Mutability: Strings are immutable,

Strings are ordered,

Indexing: Strings support indexing and slicing

Use Case: Typically used to represent textual data.

2. List

Definition: A list is an ordered collection of elements, which can be of mixed data types (integers, strings, objects, etc.).

Mutability: Lists are mutable, meaning their contents can be modified after creation (you can add, remove, or change elements).

Ordering: Lists are ordered, meaning the order of elements is preserved.


Indexing: Lists support indexing, slicing, and iteration over elements.

3. Tuple

Definition: A tuple is similar to a list but is immutable, meaning once a tuple is created, its content cannot be modified.


Mutability: Tuples are immutable (cannot be changed).


Ordering: Tuples are ordered, maintaining the order of elements.


Indexing: Tuples support indexing and slicing, similar to lists.

4. Set (set)
Definition: A set is an unordered collection of unique elements. It does not allow duplicate values.


Mutability: Sets are mutable, meaning you can add or remove elements, but you cannot change individual elements.


Ordering: Sets are unordered, meaning the elements do not maintain any
specific order.


Indexing: Sets do not support indexing, slicing