In [6]:
# a. Check a number entered by a user is even, odd or Zero. Enter a valid number in an input field.
def check_number(num):
    if num == 0:
        print("The number is Zero.")
    elif num % 2 == 0:
        print("The number is even.")
    else:
        print("The number is odd.")
num = int(input("Enter a number: "))
check_number(num)

The number is Zero.

In [30]:
# b. Write a python program to calculate Area and Perimeter of rectangle.
def rectangle_properties(length, breadth):
    area = length * breadth
    perimeter = 2 * (length + breadth)
    return area, perimeter
length=float(input('Enter the length of rectangle:'))
breadth=float(input('Enter the breadth of rectangle:'))
rectangle_properties(length,breadth)

(12.0, 14.0)

c. Given the list numbers = [10, 20, 30, 40, 50], write a Python code snippet to:
 Append the number 60 to the list.
 Remove the number 20 from the list.
 Insert 80 at index 2.
Print the sum of all the elements in the list.

In [23]:
list_numbers =[10, 20, 30, 40, 50]
list_numbers.append(60)
print(list_numbers)

[10, 20, 30, 40, 50, 60]

In [21]:
list_numbers =[10, 20, 30, 40, 50]
list_numbers.remove(20)
print(list_numbers)

[10, 30, 40, 50]

In [26]:
list_numbers =[10, 20, 30, 40, 50]
list_numbers.insert(2,80)
print(list_numbers)

[10, 20, 80, 30, 40, 50]

In [27]:
# sum
list_numbers =[10, 20, 30, 40, 50]
sum_numbers = sum(list_numbers)
print(sum_numbers)

150

q 2 b. Write a python program to calculate Area and Perimeter of rectangle.

In [28]:
l=float(input('Enter the lentgh of rectangle'))
b=float(input('Enter the breadth of rectangle here:'))
area_of_rectangle=l*b
print('Area of rectangle is:',area_of_rectangle)
perimeter_of_rectangle=2*(l+b)
print('Perimeter of rectangle is:',perimeter_of_rectangle)

Area of rectangle is: 4.0
Perimeter of rectangle is: 8.0

a. Write a python code to determine whether the given string is a Palindrome or not.

In [41]:
num=int(input('Enter a number here :'))
temp=num
rev=0
while num>0:
    rem=num%10
    rev=rev*10+rem
    num=num//10
# print("The number is", rev)
if temp==rev:
    print(temp,"is a palindrome")
else:
    print(temp,"is not a palindrome")

321 is not a palindrome

b. Write a Python program that checks the validity of an email address and a
password.
 First, the program should verify whether the user has entered a valid email
address.
After that, the program should check if the password entered is correct. If the
password is incorrect, the user should be given one more chance to enter the correct
password. If the password is incorrect again, access should be denied.

In [6]:
email_address = 'abdulsamads3414@gmail.com'
password = 'latch'
user_input = input('Enter the email address: ')
if user_input != email_address:
    print('Invalid email address')
else:
    password1 = input('Enter the password: ')
    if password1 == password:
        print('Login Successful')
    else:
        print('Password is incorrect, please re-enter the password.')
        re_enter = input('Please re-enter the password: ')
        if re_enter == password:
            print('Login Successful')
        else:
            print('Sorry!! Your password is incorrect.')

Login Successful

b. Write a Python function called `grade students` that takes student names and their
scores, and returns a with student names and their corresponding grades (A, B, C, D,
F).
Use the following grading scale:
A: 90-100
B: 80-89
C: 70-79

6+6

Page 2 of 2

D: 60-69
F: Below 60
Calculate obtained marks and percentage.
Make a proper conditions and enter data of 5 students

In [ ]:
def grade_students(name1,name2,name3,name4,name5, marks):
    total_marks = 100
    obtain_percentage = (marks / total_marks) * 100  
    if 90 <= obtain_percentage <= 100:
        print(f'Congratulations, {name1}! You obtained {marks} marks and fall in A-Grade with a percentage of {obtain_percentage}%')
    elif 80 <= obtain_percentage < 90:
        print(f'{name1}, you obtained {marks} marks and fall in B-Grade with a percentage of {obtain_percentage}%')
    elif 70 <= obtain_percentage < 80:
        print(f'{name1}, you obtained {marks} marks and fall in C-Grade with a percentage of {obtain_percentage}%')
    elif 60 <= obtain_percentage < 70:
        print(f'{name1}, you obtained {marks} marks and fall in D-Grade.with a percentage of {obtain_percentage}%')
    else:
        print(f'Sorry, {name1}, you obtained {marks} marks and fall in F-Grade with a percentage of {obtain_percentage}%')
    if 90 <= obtain_percentage <= 100:
        print(f'Congratulations, {name2}! You obtained {marks} marks and fall in A-Grade with a percentage of {obtain_percentage}%')
    elif 80 <= obtain_percentage < 90:
        print(f'{name2}, you obtained {marks} marks and fall in B-Grade with a percentage of {obtain_percentage}%')
    elif 70 <= obtain_percentage < 80:
        print(f'{name2}, you obtained {marks} marks and fall in C-Grade with a percentage of {obtain_percentage}%')
    elif 60 <= obtain_percentage < 70:
        print(f'{name2}, you obtained {marks} marks and fall in D-Grade.with a percentage of {obtain_percentage}%')
    else:
        print(f'Sorry, {name2}, you obtained {marks} marks and fall in F-Grade with a percentage of {obtain_percentage}%')
    if 90 <= obtain_percentage <= 100:
        print(f'Congratulations, {name3}! You obtained {marks} marks and fall in A-Grade with a percentage of {obtain_percentage}%')
    elif 80 <= obtain_percentage < 90:
        print(f'{name3}, you obtained {marks} marks and fall in B-Grade with a percentage of {obtain_percentage}%')
    elif 70 <= obtain_percentage < 80:
        print(f'{name3}, you obtained {marks} marks and fall in C-Grade with a percentage of {obtain_percentage}%')
    elif 60 <= obtain_percentage < 70:
        print(f'{name3}, you obtained {marks} marks and fall in D-Grade.with a percentage of {obtain_percentage}%')
    else:
        print(f'Sorry, {name3}, you obtained {marks} marks and fall in F-Grade with a percentage of {obtain_percentage}%')
    if 90 <= obtain_percentage <= 100:
        print(f'Congratulations, {name4}! You obtained {marks} marks and fall in A-Grade with a percentage of {obtain_percentage}%')
    elif 80 <= obtain_percentage < 90:
        print(f'{name4}, you obtained {marks} marks and fall in B-Grade with a percentage of {obtain_percentage}%')
    elif 70 <= obtain_percentage < 80:
        print(f'{name4}, you obtained {marks} marks and fall in C-Grade with a percentage of {obtain_percentage}%')
    elif 60 <= obtain_percentage < 70:
        print(f'{name4}, you obtained {marks} marks and fall in D-Grade.with a percentage of {obtain_percentage}%')
    else:
        print(f'Sorry, {name4}, you obtained {marks} marks and fall in F-Grade with a percentage of {obtain_percentage}%')
marks = float(input('Enter the marks over here: '))
name1 = input('Enter the name of the student: ')
name2 = input('Enter the name of the student: ')
name3 = input('Enter the name of the student: ')
name4 = input('Enter the name of the student: ')
name5 = input('Enter the name of the student: ')

grade_students(name1,name2,name3,name4,name5, marks)

Sorry, jjss, you obtained 40.0 marks and fall in F-Grade with a percentage of 40.0%
Sorry, sjjsj, you obtained 40.0 marks and fall in F-Grade with a percentage of 40.0%

a. Illustrate the diamond problem in python programing language problem.

In [8]:
class A:
    def display(self):
        print("Display method from class A")
class B(A):
    def display(self):
        print("Display method from class B")
class C(A):
    def display(self):
        print("Display method from class C")
class D(B, C):
    pass
obj = D()
obj.display()
print(D.mro())

Display method from class B
[<class '__main__.D'>, <class '__main__.B'>, <class '__main__.C'>, <class '__main__.A'>, <class 'object'>]

You are given a dictionary where the keys are strings and the values are integers.
Write a Python function, multiply_dict_values(my_dict), that multiplies all the values
in the dictionary and returns the product. If the dictionary is empty, return 1.

In [16]:
my_dict = {'a': 2, 'b': 3, 'c': 4}
def my_function(my_dict):
    product=1
    for key in my_dict:
        product *= my_dict[key]
    return product
my_function(my_dict)

24

In [17]:
dict={}
my_function(dict)

1

In [22]:
import pandas as pd

data = {
    "Product_ID": [101, 102, 103, 104, 105, 106, 107, 108, 109, 110],
    "Product_Name": ["Widget A", "Widget B", "Widget C", "Widget D", "Widget E", "Widget F", "Widget G", "Widget H", "Widget I", "Widget J"],
    "Category": ["Electronics", "Electronics", "Furniture", "Furniture", "Electronics", "Furniture", "Electronics", "Electronics", "Furniture", "Furniture"],
    "Units_Sold": [150, 120, 90, 60, 200, 30, 110, 140, 75, 50],
    "Revenue": [1500, 2400, 2700, 1800, 4000, 1200, 2200, 2800, 1500, 1000],
    "Region": ["North", "South", "East", "West", "North", "South", "East", "West", "North", "South"],
    "Sales_Person": ["Alice", "Bob", "Charlie", "David", "Eve", "Frank", "Grace", "Hannah", "Ian", "Jack"],
    "Date_of_Sale": pd.to_datetime(["2024-11-01", "2024-11-02", "2024-11-03", "2024-11-04", "2024-11-05", "2024-11-06", "2024-11-07", "2024-11-08", "2024-11-09", "2024-11-10"])
}

df = pd.DataFrame(data)

df.head()

,Product_ID,Product_Name,Category,Units_Sold,Revenue,Region,Sales_Person,Date_of_Sale
0,101,Widget A,Electronics,150,1500,North,Alice,2024-11-01
1,102,Widget B,Electronics,120,2400,South,Bob,2024-11-02
2,103,Widget C,Furniture,90,2700,East,Charlie,2024-11-03
3,104,Widget D,Furniture,60,1800,West,David,2024-11-04
4,105,Widget E,Electronics,200,4000,North,Eve,2024-11-05

In [25]:
total_revenue=df['Revenue'].sum()
total_revenue

np.int64(21100)

In [27]:
units_of_each_product=df[['Product_Name','Units_Sold']]
units_of_each_product

  Product_Name  Units_Sold
0     Widget A         150
1     Widget B         120
2     Widget C          90
3     Widget D          60
4     Widget E         200
5     Widget F          30
6     Widget G         110
7     Widget H         140
8     Widget I          75
9     Widget J          50

In [28]:
average_units_sold = df['Units_Sold'].mean()
average_units_sold

np.float64(102.5)

In [31]:
highest_revenue_product = df.sort_values('Revenue', ascending=False).iloc[0]
highest_revenue_product

Product_ID                      105
Product_Name               Widget E
Category                Electronics
Units_Sold                      200
Revenue                        4000
Region                        North
Sales_Person                    Eve
Date_of_Sale    2024-11-05 00:00:00
Name: 4, dtype: object

In [32]:
units_sold_by_region = df.groupby('Region')['Units_Sold'].sum()
units_sold_by_region

Region
East     200
North    425
South    200
West     200
Name: Units_Sold, dtype: int64

In [34]:
highest_salesperson = df.groupby('Sales_Person')['Revenue'].sum().idxmax()
highest_salesperson

'Eve'

In [35]:
average_revenue_per_sale = df['Revenue'].mean()
average_revenue_per_sale

np.float64(2110.0)

In [38]:
furniture_sales = df[df['Category'] == 'Furniture']['Product_Name'].count()

furniture_sales

np.int64(5)

In [39]:
sales_by_region = df.groupby('Region')['Revenue'].sum()
sales_by_region

Region
East     4900
North    7000
South    4600
West     4600
Name: Revenue, dtype: int64

In [40]:
revenue_trend = df.groupby('Date_of_Sale')['Revenue'].sum()
revenue_trend

Date_of_Sale
2024-11-01    1500
2024-11-02    2400
2024-11-03    2700
2024-11-04    1800
2024-11-05    4000
2024-11-06    1200
2024-11-07    2200
2024-11-08    2800
2024-11-09    1500
2024-11-10    1000
Name: Revenue, dtype: int64

sales increase from 2024-11-01 to 2024-11-05 but decrease from 2024-11-06 to 2024-11-10

In [41]:
menu={
    "latte":{
        "ingredients":{
        'water':200,
        'milk':150,
        'coffee':24,
    },

    'cost':150

    },
    "espresso":{
        "ingredients":{
        'water':50,
        'coffee':18,
    },

    'cost':100

    },
    "cappaccino":{
        "ingredients":{
        'water':250,
        'milk':100,
        'coffee':24,
    },

    'cost':200

    },
}
resources={"water":800,"milk":500,"coffee":760,}
profit=0
def check_resources(order_ingredients):
    for i in order_ingredients:  # water ,then milk,then coffee
        if order_ingredients[i]>resources[i]:
            print(f"sorry there is not enough{i}")
            return False
        return True
def process_coins():
    print("Please insert coins:")
    total=0
    coins_five=int(input('How many 5Rs coins?:'))
    coins_ten=int(input('How many 10Rs coins?:'))
    coins_twenty=int(input('How many 20Rs coins?:'))
    total=coins_five*5+coins_ten*10+coins_twenty*20
    return total
def is_payment_successful(money_received,coffee_cost):
    if money_received>=coffee_cost:
        global profit
        profit+=coffee_cost
        return True
    else:
        print("Sorry that's not enough money,money refunded")
        return False
def make_coffee(coffee_name,coffee_ingredients):
    for i in coffee_ingredients:
        resources[i]-=coffee_ingredients[i]
    print(f"Here is your {coffee_name}! Enjoy!")


while True:
    choice=input("what would like to have ?(latte/espresso/cappaccino)")
    if choice=="off":
        break
    elif choice == "report":
        print(f"water={resources['water']}ml")
        print(f"milk={resources['milk']}ml")
        print(f"coffee={resources['coffee']}g")
        print(f"profit=Rs{'profit'}")
    else:
        coffee_type=menu[choice]
        print(coffee_type)
        if check_resources(coffee_type['ingredients']):
            payment=process_coins()
            if is_payment_successful(payment,coffee_type['cost']):
                make_coffee(choice,coffee_type['ingredients'])

{'ingredients': {'water': 200, 'milk': 150, 'coffee': 24}, 'cost': 150}
Please insert coins:
Here is your latte! Enjoy!

KeyError: 'break'