# Basic Operations:

Create a list of numbers from 1 to 10.

Reverse the list.

Find the sum of all elements in the list.

Find the maximum and minimum values in the list.

In [2]:
number=[1,2,3,4,5,6,7,8,9,10]
print(number)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [5]:
number.reverse()
print(number)

[10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [10]:
sum(number)
# print(number)

55

In [11]:
min(number)

1

In [12]:
max(number)

10

# Indexing and Slicing:

Given the list numbers = [5, 10, 15, 20, 25, 30], print the first 3 elements.

Print every alternate element in the list.

Replace the middle element(s) in the list with the string "middle".

In [23]:
list_number=[5, 10, 15, 20, 25, 30]
print(list_number)
list_number[:3]
list_number[::2]

[5, 10, 15, 20, 25, 30]

[5, 15, 25]

Create a List: Create a list of 5 integers and print it.

Access Elements: Given a list lst = [10, 20, 30, 40, 50], print the second and fourth elements.

Slicing: Slice the list lst = [10, 20, 30, 40, 50] to extract the last 3 elements.

Append an Item: Append the number 60 to the list lst = [10, 20, 30, 40, 50].

Insert an Item: Insert the number 25 at the second position in the list lst = [10, 20, 30, 40, 50].

In [1]:
list2=[10, 20, 30, 40, 50]
list2[-3:]

[30, 40, 50]

In [3]:
list2.append(60)
print(list2)

[10, 20, 30, 40, 50, 60, 60]

In [4]:
list2.insert(2,25)
print(list2)

[10, 20, 25, 30, 40, 50, 60, 60]

List Manipulation

Remove an Item: Remove the first occurrence of the number 30 from lst = [10, 20, 30, 40, 30].

Pop an Item: Pop the last item from the list lst = [10, 20, 30, 40, 50] and print it.

Count Occurrences: Count how many times the number 20 appears in the list lst = [10, 20, 20, 30, 20].

Find Index: Find the index of the number 40 in the list lst = [10, 20, 30, 40, 50].

In [5]:
list2.pop()
print(list2)

[10, 20, 25, 30, 40, 50, 60]

In [6]:
list2.remove(30)
print(list2)

[10, 20, 25, 40, 50, 60]

In [8]:
list2.count(20)

1

In [9]:
list2.index(40)

3

Advanced List Operations

List Comprehension: Create a new list that contains only the even numbers from the list lst = [10, 15, 20, 25, 30, 35].

Nested List: Given the list lst = [[1, 2], [3, 4], [5, 6]], flatten it into a single list.

List Sorting: Sort the list lst = [50, 10, 30, 40, 20] in ascending order and print it.

Reverse List: Reverse the list lst = [10, 20, 30, 40, 50].

In [11]:
lst = [[1, 2], [3, 4], [5, 6]]
flattened_lst = [item for sublist in lst for item in sublist]
print(flattened_lst)

[1, 2, 3, 4, 5, 6]

In [10]:
list3=[10, 15, 20, 25, 30, 35]
list3[::2]

[10, 20, 30]