# Dictionary
1. # Dictionaries are used to store data values in key:value pairs.
2. A dictionary is a collection which is ordered*, 
3. changeable and do not allow duplicates.
4. key value pair {:}
5. mutable (we can add and remove)
6. key always be imutable
7. key always be unique

In [1]:
person={'Name':'samad',
        'gender':'Male',
        'skill':['data science','Ml','AI'],
        'age':28,'age':28}      # duplicates are not allowed in dictionary

print(person)
print(type(person))

{'Name': 'samad', 'gender': 'Male', 'skill': ['data science', 'Ml', 'AI'], 'age': 28}
<class 'dict'>

In [2]:
# only find out dictionary keys
person.keys()

dict_keys(['Name', 'gender', 'skill', 'age'])

In [3]:
# only find out the dictionary values
person.values()

dict_values(['samad', 'Male', ['data science', 'Ml', 'AI'], 28])

In [4]:
# both print key and values print together and seperate it.
person.items()

dict_items([('Name', 'samad'), ('gender', 'Male'), ('skill', ['data science', 'Ml', 'AI']), ('age', 28)])

In [5]:
#only find the specific key
person.get('skill')

['data science', 'Ml', 'AI']

In [6]:
person.get('Name')

'samad'

In [7]:
person.get('age','gender') # only take 1st key not 2nd

28

In [8]:
person1={'Name':'samad',
        'gender':'Male',
        'marks':{'python':70,'js':40},  # in this key and value pair appear so dictionary use
        'age':'28'}
print(person1)
print(type(person1))

{'Name': 'samad', 'gender': 'Male', 'marks': {'python': 70, 'js': 40}, 'age': '28'}
<class 'dict'>

In [9]:
person1.get('marks')['js'] # parent and child function

40

In [10]:
person.update(person1)
print(person)

{'Name': 'samad', 'gender': 'Male', 'skill': ['data science', 'Ml', 'AI'], 'age': '28', 'marks': {'python': 70, 'js': 40}}

In [11]:
person.get('marks')

{'python': 70, 'js': 40}

In [12]:
len(person)
len(person1)

4

In [13]:
person.append(person1)   # this append function not supprt in it in this update function use insttead of appeand

AttributeError: 'dict' object has no attribute 'append'

In [ ]:
person.update(person1)
print(person)
person1.update(person)
print(person1)

{'Name': 'samad', 'gender': 'Male', 'skill': ['data science', 'Ml', 'AI'], 'age': '28', 'marks': {'python': 70, 'js': 40}}
{'Name': 'samad', 'gender': 'Male', 'marks': {'python': 70, 'js': 40}, 'age': '28', 'skill': ['data science', 'Ml', 'AI']}

In [ ]:
person.items()
person.get('marks')

{'python': 70, 'js': 40}

In [ ]:
#adding anything
person['organization']='institute of space'   # here show in last 
print(person)

{'Name': 'samad', 'gender': 'Male', 'skill': ['data science', 'Ml', 'AI'], 'age': '28', 'marks': {'python': 70, 'js': 40}, 'organization': 'institute of space'}

In [ ]:
print(person)

{'Name': 'samad', 'gender': 'Male', 'skill': ['data science', 'Ml', 'AI'], 'age': '28', 'marks': {'python': 70, 'js': 40}, 'organization': 'institute of space'}

In [ ]:
# more than one values added this update pass
person.update({'roll_no':32,'address':'pakistan'})
print(person)

{'Name': 'samad', 'gender': 'Male', 'skill': ['data science', 'Ml', 'AI'], 'age': '28', 'marks': {'python': 70, 'js': 40}, 'organization': 'institute of space', 'roll_no': 32, 'address': 'pakistan'}

In [ ]:
person.copy()
print(person)

TypeError: dict.copy() takes no arguments (1 given)

In [14]:
sorted(person) # sorted by only keys values and appera capital letters than small

['Name', 'age', 'gender', 'marks', 'skill']

In [15]:
person.pop('gender') # only provide key

'Male'

In [16]:
person

{'Name': 'samad',
 'skill': ['data science', 'Ml', 'AI'],
 'age': '28',
 'marks': {'python': 70, 'js': 40}}

In [ ]:
person.popitem() # last item deleted

('organization', 'institute of space')

In [ ]:
person

{'Name': 'samad',
 'skill': ['data science', 'Ml', 'AI'],
 'age': '28',
 'marks': {'python': 70, 'js': 40}}

In [ ]:
person['profession']='Electrical Engineer'

In [ ]:
print(person)

{'Name': 'samad', 'skill': ['data science', 'Ml', 'AI'], 'age': '28', 'marks': {'python': 70, 'js': 40}, 'profession': 'Electrical Engineer'}

In [18]:
print(person)
del person
print(person)

{'Name': 'samad', 'skill': ['data science', 'Ml', 'AI'], 'age': '28', 'marks': {'python': 70, 'js': 40}}

NameError: name 'person' is not defined

In [4]:
# setdefault() function
student={101:'samad',102:'asad',103:'fahad'}
print(student)
return_value=student.setdefault(101,'python ')  # in this key value already present in it so it will return the value
print(student)

# Now inserting a new key and value in dictionary using setdefault() function

return_value2=student.setdefault(104,'adnan')
print(student)

{101: 'samad', 102: 'asad', 103: 'fahad'}
{101: 'samad', 102: 'asad', 103: 'fahad'}
{101: 'samad', 102: 'asad', 103: 'fahad', 104: 'adnan'}

In [15]:
import math
print(dir(math))

['__doc__', '__loader__', '__name__', '__package__', '__spec__', 'acos', 'acosh', 'asin', 'asinh', 'atan', 'atan2', 'atanh', 'cbrt', 'ceil', 'comb', 'copysign', 'cos', 'cosh', 'degrees', 'dist', 'e', 'erf', 'erfc', 'exp', 'exp2', 'expm1', 'fabs', 'factorial', 'floor', 'fma', 'fmod', 'frexp', 'fsum', 'gamma', 'gcd', 'hypot', 'inf', 'isclose', 'isfinite', 'isinf', 'isnan', 'isqrt', 'lcm', 'ldexp', 'lgamma', 'log', 'log10', 'log1p', 'log2', 'modf', 'nan', 'nextafter', 'perm', 'pi', 'pow', 'prod', 'radians', 'remainder', 'sin', 'sinh', 'sqrt', 'sumprod', 'tan', 'tanh', 'tau', 'trunc', 'ulp']

In [7]:
math.sin(90)

0.8939966636005579

In [8]:
math.pi

3.141592653589793

In [9]:
math.sqrt(4)

2.0

In [10]:
math.pow(2,2)

4.0

In [11]:
math.factorial(6)

720

In [16]:
math.floor(3.5)

3

In [ ]:
import random 
random.randint(1,15)   # this is verbally call

13

In [19]:
import keyword
print (dir(keyword))

['__all__', '__builtins__', '__cached__', '__doc__', '__file__', '__loader__', '__name__', '__package__', '__spec__', 'iskeyword', 'issoftkeyword', 'kwlist', 'softkwlist']

In [ ]:
import random

In [ ]:
random.randint(1,100) #call any random numbers

77

In [ ]:
# practice of list
samad_list=[1,2,3,4,5]
print(samad_list)
print(type(samad_list))

[1, 2, 3, 4, 5]
<class 'list'>

In [ ]:
samad_list2=[2,3,4,5,6,7,7]
print(samad_list+samad_list2)

[1, 2, 3, 4, 5, [2, 3, 4, 5, 6, 7], 2, 3, 4, 5, 6, 7, 7]

In [ ]:
samad_list.append(samad_list2)

In [ ]:
samad_list

[1, 2, 3, 4, 5, [2, 3, 4, 5, 6, 7], [2, 3, 4, 5, 6, 7, 7]]

In [ ]:
samad_list2.count(6)

1

In [ ]:
samad_list.insert(1,2)

In [ ]:
samad_list

[1, 2, 2, 3, 4, 5, [2, 3, 4, 5, 6, 7], [2, 3, 4, 5, 6, 7, 7]]

# Conditional Statement
1. if ,else

In [26]:
age=int(input('Enter your Age '))
if age>=18:
    print('You can cast a vote')
else:
    print('You can not a cast a vote')
print('I am out of the loop')

You can cast a vote
I am out of the loop