# SETS

1. A set is an unordered collection ((3,2,1)<==== the answer will be random some time appear 2,3,1 and sometime 1,2,3)
2. Unique and no duplicate allowed in set.
3. Must be immutable (cannot be changed) like a tuble 
4. A set itself mutable (we can add and remove items from it)
5. Representation of set is in curly brackets {} or using set() function.

In [75]:
S=()
s={} # empty bracket is also called a dictionary
p=set() # this set is empty
p1={1,2,3} # this is set with 3 elements because elements present in it
print(type(S))
print(type(s))
print(type(p))
print(type(p1))

<class 'tuple'>
<class 'dict'>
<class 'set'>
<class 'set'>

In [76]:
s={5,6,3,2,2} # jis sequece ma elements ko declear karaingay us order ma nea milaygain or no duplicate values 
print(s)

{2, 3, 5, 6}

In [77]:
s={2,5,1,3}
print(s)
# s={2,5,1,3,{1,2,34,4}} # means mutable type is not allowed in set the think is that set is mutable type due to which not allowed 
# print(s)
# slist={2,3,4,5,6,7,[1,2,3,4,5]} # in this we pass list in set but list is mutable type is not allowed in set the think is that set is mutable type due to which not allowed
# print(slist)
s1={2,4,5,8,1,(1,2,6,3)} # in this we pass tuple in set and tuple is immutable type is allowed in set
print(s1)

{1, 2, 3, 5}
{1, 2, 4, 5, 8, (1, 2, 6, 3)}

In [78]:
s={'samad',12.4,False,0}  # is this case 0 and false equal 1 and true are equal and it pass only a one time in set becasue no duplicate allowed in this data type
print(s)
s={'samad',12.4,False,0,True,1,1} # no duplicate allowed in this data type
print(s)

{False, 'samad', 12.4}
{False, True, 'samad', 12.4}

In [79]:
fruits=['apple','mango'] #this is convert into set caled type casting 
fruits=set(['apple','mango']) # here type casting is done list converted into set just rewrite set()
print(fruits)
print(type(fruits))

{'mango', 'apple'}
<class 'set'>

In [80]:
s1={1,2,3,4} # same elements i mean must be equal to another set because no sequence matter in set 
s2={3,2,1,4}
s1==s2

True

In [81]:
s1={1,3,5,7,6}
s2={2,4,6,7,8}
s1==s2

False

In [82]:
# #Accessing 
print(s1[0]) # this is unordered collection so we can't access by index

TypeError: 'set' object is not subscriptable

In [ ]:
s[0]='banana'  # no support for slicing indxing 
print(s)

TypeError: 'set' object does not support item assignment

In [ ]:
s={1,2,3,4}
s.add(5)
print(s)

{1, 2, 3, 4, 5}

In [ ]:
s={1,2,7,5,4}
s.add(1,4) # only take one argummnet only 
print(s)

TypeError: set.add() takes exactly one argument (2 given)

In [ ]:
s.add(6)
# print(s)
s.update([2,3,4,5,6,10]) 
print(s)
print(type(s))

{2, 3, 4, 5, 6, 10}
<class 'set'>

In [ ]:
s.update(['imran khan']) # pass in list of strings and print well due to immutable or indexing allowing in list
print(s)
s.update('imran khan')  # output will be random because no indexing follow 
print(s)

{'imran khan'}
{'i', 'n', 'a', 'r', 'h', ' ', 'm', 'k', 'imran khan'}

In [ ]:
# pop() any random number in above list
s.pop()

'i'

In [ ]:
# Remove the specipic letter or number from the string
s.remove('h')
print(s)

{'n', 'a', 'r', ' ', 'm', 'k', 'imran khan'}

In [ ]:
# Discard function use in set only not dictionary and tuple 
s.discard('k')
print(s)

{'n', 'a', 'r', ' ', 'm', 'imran khan'}

In [ ]:
# delete all things
del s    # Remove all elements and set

NameError: name 's' is not defined

In [83]:
print(s)

{False, True, 'samad', 12.4}

In [85]:
#opeartion in set 
#union (/)
s3={2,3,4,5,6}
s4={3,4,5,10,12,13}
s3.union(s4)

{2, 3, 4, 5, 6, 10, 12, 13}

In [86]:
# intersection (&)
print(s3&s4)

{3, 4, 5}

In [87]:
#Difference
print(s3-s4)
print(s4-s3)

{2, 6}
{10, 12, 13}

In [ ]:
#symmetric Diffrence (^) this is delta 
print (s3^s4)
print(s4^s3)

{2, 6, 10, 12, 13}
{2, 6, 10, 12, 13}

In [ ]:
s3.discard(4)
print(s3)

{2, 3, 5, 6}

# Membership operator in set

In [ ]:
# 2 in s3
64 in s3 # not present in it

False

In [94]:
print(sorted(s3,reverse=True))
print(len(s3))
print(sum(s3))
print(min(s3))
print(max(s3))
print(sorted(s4,reverse=False)) 
# print(sorted()) #in this value must be pass in it

[6, 5, 4, 3, 2]
5
20
2
6
[3, 4, 5, 10, 12, 13]

In [102]:
#union and update both are same results

S1={1,2,34,56,7,89}
S2={8,3,4,5,7,8,9}
S1.update(S2)
print(S1)
S2.update(S1)
print(S2)
S1.union(S2)
print(S1)
S2.union(S1)
print(S2)

{1, 2, 34, 3, 4, 5, 7, 8, 9, 56, 89}
{1, 2, 3, 4, 5, 7, 8, 9, 89, 34, 56}
{1, 2, 34, 3, 4, 5, 7, 8, 9, 56, 89}
{1, 2, 3, 4, 5, 7, 8, 9, 89, 34, 56}

In [108]:
# isdisjoint set / issubset/issuperset
# S1.isdisjoint(S2)   # if any single element of S1 and S2 are same so it will not be disjoint set
S1={1,2,34,56,7}
S2={8,3,4}
S1.issubset(S2)
S2.issubset(S1)

False

In [111]:
S={1,2,3}
SS={2,3}
S.issubset(SS)
SS.issubset(S)
S.issuperset(SS)

True

# Frozen Set: is the speacial type of set which are immutable of nature
1. It will work like a tuple in python
2. All read functions will works 
3. Write operation doesnt work like add remove update

In [ ]:
# Create Frozen set
# in this set Mutable items transform into immutable items
fs1=frozenset([1,2,3,4])
fs2=frozenset([2,3,4,5])
fs1|fs2     # in this type of set we cannt change because this is immutable 
# frozen set kay sath frozen set hi use hoga 
fs1.add(3)   # cannt be add

AttributeError: 'frozenset' object has no attribute 'add'

In [ ]:
frozen_set1=frozenset([1,2,3,4,5])
frozen_set2={12,3,4,5,7}   # this is normal set , not frozen set but the answer must be in frozen set format
frozen_set1 | frozen_set2

frozenset({1, 2, 3, 4, 5, 7, 12})

In [ ]:
fs=frozenset([1,2,3,frozenset([5,6])])   # we can pass another frozenset in frozen set 
print(fs)

frozenset({frozenset({5, 6}), 1, 2, 3})